* {
    font-family: arial, sans-serif;
}

.first {
    background-color: black;
    color: white;
}

.second {
    background-color: grey;
}

.third {
    background-color: green;
}

.container {
    background-color: white;
    width: 650px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
}

.body-One {
    font-size: 1.8rem;
    text-align: center;
    color: red;
    font-weight: bold;
}

.body-Two {
    text-align: center;
    color: grey;
}

img.product {
    height: 110px;
    width: 162px;
    object-fit: cover;
    padding-left: 10px;
}

.button-style {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 0.6rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

.footer {
    text-align: center;
}

table {
    margin: 0 auto;
    padding-bottom: 1rem;
}

.logo {
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.total-width {
    width: 100%;
}